
/*.btn-portfolio {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*}*/

/*.btn-portfolio button {*/
/*    border: none;*/
/*    border-radius: 50%;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*}*/

/*.btn-portfolio .filter-active {*/
/*    background-color: yellow;*/
/*    color: blue;*/
/*}*/

/*.btn-portfolio button:not(.filter-active) {*/
/*    background-color: blue;*/
/*    color: white;*/
/*}*/

/*.portfolio-filters {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    list-style-type: none; !* Removes bullets *!*/
/*    padding: 0; !* Removes default padding *!*/
/*}*/

/*.portfolio-filters li {*/
/*    display: inline-block;*/
/*    width: 100px;  !* Width of the circle *!*/
/*    height: 30px; !* Height of the circle *!*/
/*    line-height: 100px; !* Centers text vertically *!*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease, color 0.3s ease;*/
/*    font-size: 14px; !* Adjust font size *!*/
/*    font-weight: bold; !* Makes text bold *!*/
/*}*/

/*.portfolio-filters li.filter-active {*/
/*    background-color: yellow;*/
/*    color: blue;*/
/*}*/

/*.portfolio-filters li:not(.filter-active) {*/
/*    background-color: blue;*/
/*    color: white;*/
/*}*/

/*.portfolio-filters li:hover {*/
/*    opacity: 0.8;*/
/*}*/

.btn-portfolio{
    display: flex;
    gap: 10px;
}

.btn-portfolio li {
    border: black;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-portfolio .filter-active {
    background-color: yellow;
    color: blue;
}

.btn-portfolio button:not(.filter-active) {
    background-color: blue;
    color: white;
}

.p_contact{
    font-size: x-large;
    color: #0a53be;
}

.p_hello{
    font-size: small;
    color: #0a53be;
    font-style: italic;
}

.follow_me{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.button-group {
    margin-top: 40px;
    position: relative;
    display: flex;
    gap: 40px; /* space between the buttons */
}

.intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hello {
    font-size: 24px;
    font-weight: bold;
}

.line {
    width: 35%;
    height: 3px;
    margin-top: 18px;
    margin-left: 20px;
    background-color: white;
}

.btn_home {
    padding: 0;
    list-style: none;
    text-align: center;
    background-size: 400px;
}

.btn_home{
    padding: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    background-color: teal;
    color: white;
    border-radius: 10px / 10px;
    border-width:1px;
    width: 135px;
    border-color: black;
}

.home_filter .btn_home:hover  {
    color: #0a53be;
    background-color: yellow;
    border-color: #0f3d81;
}

@media only screen and (max-width: 768px) {
    .btn_home{
        padding: 10px 10px;
        font-size: 10px;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 10px / 10px;
        width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .portfolio  .portfolio-filters {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0;
        margin: 5px;
        background-size: auto;
    }

    .portfolio  .portfolio-filters li {
        display: inline-block;
        line-height: 1;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        background-color: #0a53be;
        color: white;
        flex-grow: 1; /* Allows buttons to expand to fit the container */
        text-align: center;
        padding: 8px; /* Smaller padding */
        margin: 5px;  /* Smaller margin */
        font-size: x-small; /* Smaller font size */
        font-weight: normal;
        border-radius: 5px / 5px;;
        width:100%;
    }
    .btn-portfolio{
        display: flex;
        gap: 5px;
    }

    .btn-portfolio li {
        border: black;
        border-radius: 50%;
        padding: 5px 5px;
        cursor: pointer;
        font-size: 8px;
        font-weight: 300;
    }
}